.body{
  position: inherit;
  overflow-y: scroll;
}

.headbar{
  background-color: #000000!important;
  position:absolute;
  width:100%;
  z-index:1;
  top:0;
  left: 0;
    }

.contentbar{
  color: white;
  margin-left: 35px;
    }
.bodyContent{
  background-color: white;
  border: solid 10px;
  border-color: white;
}
.generalInfo {
  overflow: auto;
  background-color:rgba(255, 255, 255, 0.596);
  padding: 14px 16px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 10px rgb(204, 204, 204);
  color: black;
  width:-moz-available;
  width: -webkit-fill-available;
  margin:30px

}
.card {
  text-align: center;
  overflow: auto;
  background-color:black;
  padding: 14px 16px;
  border-radius: 10px;

  box-shadow: 5px 5px 10px 10px rgb(204, 204, 204);
  color: white;
  width:-moz-available;
  width: -webkit-fill-available;
  margin:30px

}

.cardTitle{
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  vertical-align: top;
  border-bottom: solid 2px ;
  width:100%;
  top:0;
  left: 0;
  margin-bottom: 15px;
}
iframe{
  border-radius: 5px;
}

p{
  margin:35px
}

ol{
  margin:35px
}
.material-icons{
  text-align: right;
  vertical-align: bottom;
}